body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-row {
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center;
}

.component {
  padding: 10px;
  margin: 0 10px; /* Adds spacing between components */
}

.button {
  height: 32px;
  width: 32px;
}

.container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  height: 100vh; /* Adjust the height as needed */
}

.date-text {
  text-align: center; /* Horizontally center the text within the div */
  font-size: 18px; /* Adjust the font size as needed */
}
